.back {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0 auto;
  background-color: rgb(23, 23, 23);
  font-size: 14px;
  /*min-width: 1100px;
*/
}

.wrapper {
  background-color: #000;
  position: relative;
  color: white;
  text-align: center;
  height: 40px;
  font-family: "Arial";
  display: none;
  border-radius: 10px;
}

#check-menu {
  display: none;
}

.label-checkmenu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}

.burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: 0.5s all;
}

.second,
.third {
  top: 18px;
}

.fourth {
  top: 28px;
}

.main-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
}

.main-menu a {
  display: block;
  width: 100%;
  padding: 10px;
  color: rgb(209, 205, 205);
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #000;
}

#check-menu:checked ~ .main-menu {
  max-height: 500px;
  font-size: 16px;
}

#check-menu:checked ~ .first {
  display: none;
}

#check-menu:checked ~ .second {
  transform: rotate(45deg);
}

#check-menu:checked ~ .third {
  transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth {
  display: none;
}

.container {
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moonlogo img {
  height: 40px;
  margin: 10px;
}

.moonlogo2 img {
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
  float: left;
}

.menu {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.menu li {
  margin: auto 18px;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: rgb(209, 205, 205);
  position: relative;
  padding: 5px;
}

.menu a:hover {
  background-color: rgb(92, 91, 91);
  border-radius: 15px;
}

.language a {
  border-radius: 100%;
  text-decoration: none;
  background-color: rgb(28, 28, 28);
  text-align: center;
  font-size: 14px;
  color: rgb(209, 205, 205);
  border: 1px solid rgb(148, 146, 146);
  padding: 4px;
  margin: 10px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
}

.phmoon {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}
.title {
  color: rgb(231, 221, 221);
  position: absolute;
  font-size: calc(30px + 28 * (100vw / 1280));
  width: 55%;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.srhtickets {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.srhcont {
  background-color: rgb(45, 45, 45);
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
}

.srhcont form {
  padding: 10px;
}
.srhcont input {
  background-color: rgb(45, 45, 45);
  border: 1px solid rgb(148, 146, 146);
  border-radius: 5px;
  width: 100%;
  height: 25px;
}

#there {
  width: 100%;
}
#back {
  width: 100%;
}

.srhcont label {
  color: rgb(148, 146, 146);
}

.findtkt {
  margin-top: 15px;
  color: rgb(224, 222, 222);
  background-color: rgb(101, 91, 214);
  width: 13%;
  height: 30px;
  border: 1px solid rgb(101, 91, 214);
  border-radius: 8px;
}

.findtkt:hover {
  background-color: rgb(57, 50, 134);
}

.infomoon {
  padding: 0px 50px;
  display: flex;
}

.spaceship {
  border-radius: 7px;
  margin: auto 80px;
}

.sscont {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
}

.placep {
  color: rgb(148, 146, 146);
  margin-bottom: 0;
}

.station {
  color: rgb(236, 232, 232);
  font-size: 35px;
  width: 67%;
  margin: 20px 0;
}

.appolo {
  padding: 10px;
  width: 40%;
  background-color: rgb(45, 45, 45);
  border-radius: 10px;
  color: rgb(148, 146, 146);
}
.textapollo {
  font-size: 17px;
}

.ordertkt {
  color: rgb(224, 222, 222);
  background-color: rgb(101, 91, 214);
  width: 40%;
  height: 30px;
  border: 1px solid rgb(101, 91, 214);
  border-radius: 8px;
}

.ordertkt:hover {
  background-color: rgb(57, 50, 134);
}

.why-cont {
  display: flex;
  width: 50%;
  color: rgb(236, 232, 232);
  font-size: calc(30px + 40 * (100vw / 1280));
}

.buttons-cont {
  display: flex;
  padding: 20px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.btn {
  font-size: 30px;
  background-color: rgb(28, 28, 28);
  border: 1px solid rgb(148, 146, 146);
  border-radius: 15px;
  color: rgb(224, 222, 222);
  margin: 20px;
  padding: 25px;
}

.btn:hover {
  background-color: rgb(101, 91, 214);
}

.description {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 15px 10px;
  background-color: rgb(45, 45, 45);
  border-radius: 10px;
  color: rgb(197, 193, 193);
  margin: 40px;
  width: 30%;
}
.card:hover {
  background-color: rgb(101, 91, 214);
  position: relative;
  top: -20px;
}

.descimg {
  height: 200px;
  width: 100%;
}

.desctitle {
  font-size: 25px;
  color: rgb(236, 232, 232);
  margin-bottom: 0;
  padding-left: 10px;
}

.desctext {
  padding-left: 10px;
  padding-right: 10px;
}

.more {
  color: rgb(224, 222, 222);
  background-color: rgb(45, 45, 45);
  width: 115px;
  height: 30px;
  border: 1px solid rgb(148, 146, 146);
  border-radius: 8px;
  cursor: pointer;
}

.description .card:hover > .more {
  color: rgb(101, 91, 214);
  background-color: #f2f2ff;
}

.footer {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  border-top: 1px solid #f2f2ff;
}

.footleft {
  display: flex;
  flex-direction: column;
}

.titleft {
  color: rgb(236, 232, 232);
  margin-bottom: 0;
}

.period {
  font-size: 10px;
  color: rgb(236, 232, 232);
}

.social {
  float: inline-end;
}

.networks img {
  height: 40px;
  margin-top: 15px;
}
input {
  color: rgb(148, 146, 146);
}

.fullmoon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullmoon img {
  width: 100%;
}

@media all and (max-width: 912px) {
  .wrapper {
    display: block;
    z-index: 100;
    margin-bottom: 15px;
  }
  .srhtickets form div {
    width: 100%;
    display: inline-block;
  }
  input {
    display: block;
  }
  .station {
    width: 100%;
  }
  .header {
    display: none;
  }
  .fullmoon img {
    max-width: 50%;
  }
  .srhtickets {
    padding: 10px;
    margin-top: 15px;
  }

  .descimg {
    height: auto;
    width: 100%;
  }
  .why-cont {
    width: 100%;
  }
  .buttons-cont {
    height: auto;
  }
  .btn {
    width: 100%;
    height: auto;
  }
  .spaceship {
    margin: 0px;
  }
  .why-cont {
    width: 100%;
  }

  .title {
    width: 70%;
  }

  .srhcont {
    height: 400px;
    width: 100%;
    flex-direction: column;
    padding: 30px;
  }
  .findtkt {
    width: 50%;
    font-size: 18px;
    margin-top: 0;
  }

  .ordertkt {
    width: 50%;
    font-size: 18px;
  }
  .appolo {
    width: 95%;
  }
  .infomoon {
    padding: 0px;
  }
  .sscont {
    padding: 10px;
  }
  .infomoon {
    flex-direction: column;
  }
  .description {
    flex-direction: column;
  }
  .card {
    width: auto;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footleft {
    align-items: center;
  }
  .card {
    margin: 40px;
  }
}

@media all and (max-width: 450px) {
  .card {
    margin: 30px;
  }
}

@media all and (max-width: 350px) {
  .spaceship img {
    width: 90%;
    float: right;
  }
  .title {
    width: 90%;
  }
  .card {
    margin: 15px;
  }
  .findtkt {
    width: 70%;
    font-size: 17px;
  }
}

@media all and (max-width: 294px) {
  .ordertkt {
    font-size: 16px;
  }
  .card {
    margin: 5px;
  }
}

@media all and (max-width: 280px) {
  .ordertkt {
    width: 60%;
  }
}

@media all and (max-width: 263px) {
  .title {
    font-size: 30px;
  }
}
